<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Model.Properties.Settings>
            <setting name="DP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="V" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="T" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DD" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="P0" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="P2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="U" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="POZNEK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="POVRCH" serializeAs="String">
                <value>True</value>
            </setting>
        </Model.Properties.Settings>
    </userSettings>
</configuration>